#hc{
background-color:darkgrey;

}
#s{
    background-color: black;
}
#cc{
    background-color: pink;
}
#bc{
    background-image: url("coding.jpg");
    background-repeat:round;
}
#Bc{
    background-image: url("ch.jpg");
}